<h1>Xin chào {{username}}</h1>

<p>Vui lòng kích hoạt tài khoản trong vòng {{expiresIn}} tại đây:</p>
<p><a href='{{activationLink}}'>{{activationLink}}</a></p>

<p><strong>Mật khẩu tạm thời:</strong> {{tempPassword}}</p>

<p>Vui lòng thay đổi mật khẩu để kích hoạt tài khoản.</p>
<p>Trân trọng!</p>